h1 {
    font-family: arial;
    font-size: 96px;
    background: linear-gradient(blue, white);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

body {
    background: linear-gradient(rgb(95, 79, 138), darkgrey);
    height: 100vh;
    font-family: arial;
    margin: 1em;
}

a:nth-of-type(1) {
    padding: 1em;
    text-decoration: none;
    background-color: white;
}

.geluid {
    position: absolute;
    top: 37%;
    left: 45%;
    z-index: 1;
    background-color: blue;
    width: 10em;
    height: 10em;
}

a {
    background-color: white;
    padding: 1em;
    text-decoration: none;
    border-radius: 1em;

    &:hover {
        color: darkblue;
        background-color: grey;
        animation: upp 1s forwards;
    }
}

.navigationbar {
    display: flex;
    justify-content: center;
    gap: 1em;

}

/* Menu */
.sidebarmenu {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    transition: 0.3s;
    overflow-x: hidden;

    a {
        padding: 1em 1em 1em 2em;
        text-decoration: none;
        font-size: 24px;
    }

    .closebtn {
        position: absolute;
        top: 27em;
        right: 1em;
        font-size: 24px;
        margin-left: 25px;   
    }

    #main {
        transition: margin-left .3s;
        padding: 20px;
    }
}

.openbttn {
    background-color: white;
    padding: 1em;
    display: flex;
    justify-content: center;
    border-radius: 1em;
    width: 4em;
}

/* veegestelde vragen */

details {
    margin-left: 1em;
    margin-top: 1em;
    background: linear-gradient(lightblue, darkblue);
    border-radius: 1em;
    width: 39%;
    padding: 1em;

    summary {
        color: white;
    }

    div{
        padding: 1em;
        background-color: lightblue;
        border-radius: 1em;
    }

    @supports (background: linear-gradient(lightblue, darkblue)) {
        background-color: blue;
    }
}

@keyframes upp {
    0% {
        transform: translateY(0);
        scale: 1;
    }
    100% {
        transform: translateY(-0.2em);
        sclae: 1.2;
    }
}

/* rating */

svg {
    width: 4em;
}

form {
    display: flex;
    direction: rtl;
    position: absolute;
    top: 5em;
}

label {
    display: inline-flex;
}

label svg:nth-of-type(1) {
    display: block;
}

label svg:nth-of-type(2) {
    display: none;
}

input[type=radio] {
    position: fixed;
    opacity: 0;
    left:90000px;
}

input[type=radio]:focus + label {
    outline: 2px dotted black;
}

input[type=radio]:focus ~ label {
    background-color: gold;
}

input[type=radio]:focus ~ label ~ label {
    background-color: black;
}



